body{
    background-color: antiquewhite;
  }
  
  .heading {
    display: block;
    margin-inline: auto;
    margin-block: 1rem;
    font-weight: 700;
    font-size: 30px;
  }

  .logIn {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(131, 128, 128);
    border-radius: 0.5rem;
    height: 22rem;
    width: 20rem;
    margin-inline: auto;
    margin-top: 2rem;
    row-gap: 1.5rem;
  }
  
  .content {
    margin-left: 1rem;
  }
  #box {
    vertical-align: middle;

  }

  .signUp {
    align-self: center;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 1.3rem;
  }
  button {
    background-color: navy;
    color: whitesmoke;
    border: none;
    padding-inline: 1.4rem;
    padding-block: 0.7rem;
    border-radius: 0.3rem;
  }
 
  
  input[type="button"] {
    padding: 1rem;
    border-radius: 0.3rem;
    font-weight: 600;
  }
  body{
    background-color: antiquewhite;
  }